<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styling/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'styling/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'styling/style.css' %}"/>


</head>

<body>



<div class="container">

    <section>
        <aside>
            <div class="nav">
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'products' %}">PRODUCTS</a>
                <a href="{% url 'categories' %}">CATEGORIES</a>
                <a href="{% url 'history' %}">HISTORY</a>
            </div>

        </aside>


         {% block content %}

        {% endblock content %}

    </section>
</div>


    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>