{% extends 'base.html' %}


{% block content %}
<br><br>
<div class="product-detail">
            <h2>Product Details</h2>
            <div class="row">
                <div class="col-4">Name:</div>
                <div class="col-8">{{ product.name }}</div>
            </div>
    <br>
            <div class="row">
                <div class="col-4">Color:</div>
                <div class="col-8">{{ product.color }}</div>
            </div>
    <br>
            <div class="row">
                <div class="col-4">IMEI:</div>
                <div class="col-8">{{ product.imei }}</div>
            </div>
    <br>
            <div class="row">
                <div class="col-4">Specifications:</div>
                <div class="col-8">{{ product.spec }}</div>
            </div>
    <br>
            <div class="row">
                <div class="col-4">Details:</div>
                <div class="col-8">{{ product.details }}</div>
            </div>
    <br>
            <div class="row">
                <div class="col-4">Checked In Date:</div>
                <div class="col-8">{{ product.checked_in_date }}</div>
            </div>
    <br>
            <div class="row">
                <div class="col-4">Date Sold:</div>
                <div class="col-8">{{ product.date_sold }}</div>
            </div>
    <br>
            <div class="row">
                <div class="col-4">Seller:</div>
                <div class="col-8">{{ product.seller }}</div>
            </div>
    <br>
            <div class="row">
                <div class="col-4">Buyer:</div>
                <div class="col-8">{{ product.buyer }}</div>
            </div>
    <br>
            <div class="row">
                <div class="col-4">Buyer's Phone Number:</div>
                <div class="col-8">{{ product.buyer_phone }}</div>
            </div>
    <br>
        </div>

{% endblock content %}