{% extends 'base.html' %}

{% block content %}

<div class="container">
 <form action="{% url 'search_func' %}" method="POST" >
            {% csrf_token %}
            <h5>Search a product</h5>
            <input type="text" class="form-control" id="search_info" name="search_info" placeholder="Enter a product or category to search for." required data-error="This field cannot be blank">
           <br>
            <select id="search_type" name="search_type" class="form-control">
               <option disabled selected>select a search type</option>
               <option value="Product">Product</option>
               <option value="Category">Category</option>
           </select>
            <br>
            <button class="btn btn-danger ml-auto" type="submit">SEARCH</button>
        </form>
</div>

{% endblock content %}
